body {
  background: url('../img/lightrail.jpg') no-repeat center center fixed;

}

#container {
  background-color: rgba(56,56,56,.8);
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  width:800px;
  height: 400px;
  border-radius: 5px;
  margin: 100px auto 0 auto;
}

.panel-heading {
  font-size: 24px;
}

label, input {
  padding: 10px;
}
